<div class="board-form-overlay" (click)="onClose()">
  <div class="board-form" (click)="$event.stopPropagation()">
    <h3>{{ editMode ? 'Editar Tablero' : 'Crear Nuevo Tablero' }}</h3>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <div class="form-group">
        <label for="title">Título del Tablero</label>
        <input type="text" id="title" name="title" [(ngModel)]="board.title" required #name="ngModel">
        @if (name.invalid && (name.dirty || name.touched)) {
        <small class="error">El nombre es requerido</small>
        }
      </div>

      <div class="form-group">
        <label for="description">Descripción (opcional)</label>
        <textarea id="description" name="description" [(ngModel)]="board.description" rows="3">
        </textarea>
      </div>

      <div class="button-group">
        <button type="button" class="cancel" (click)="onClose()">Cancelar</button>
        <button type="submit" [disabled]="!form.valid">
          {{ editMode ? 'Guardar' : 'Crear' }}
        </button>
      </div>
    </form>
  </div>
</div>